<div class="account-pages app-login">
  <div class="row">
    <div class="col-md-8">
      <div class="background-account"></div>
    </div>
    <div class="col-md-4">
      <div class="card bg-pattern">
        <div class="card-body p-4">
          <div class="text-center w-75 m-auto">
            <img class="logoImage"
              src="assets/images/logo-sm.png">
            <h1>Fazer Login</h1>
          </div>

          <form class="needs-validation px-5" name="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()"
            novalidate>

            <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>

            <div class="mb-2">
              <!-- <label for="email">Email</label> -->

              <input type="email" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" placeholder="E-mail" />

              <!-- <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
              </div> -->
            </div>

            <div class="form-group mb-3">
              <!-- <label for="password">Password</label> -->

              <input type="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="password" placeholder="Senha" />

              <!-- <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
              </div> -->
            </div>

            <div *ngIf="submitted && loginForm.invalid" class="text-danger error">
              <p>E-mail ou senha digitados incorretamente</p>
            </div>

            <div class="form-group mb-0 text-center">
              <button class="btn btn-primary btn-rounded px-4" type="submit">
                <span class="spinner-grow spinner-grow-sm mr-1" *ngIf="loading"></span>
                Entrar</button>
            </div>
          </form>
          <div class="text-center mt-3">
            Esqueceu a senha? <a href="">Redefinir </a>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>