<div class="">



    <div class="row mt-2">
        <div class="col-12">
            <div class="card">
                <div class="card-body mt-0">
                    <div class="row mb-2">
                        <div class="col-md-8">
                            <h4 class="card-title"> Cursos Cadastrados
                                <ngb-alert *ngIf="institution" (close)="closeItem()" [dismissible]="true"
                                    class="alert alert-dark  bg-dark  text-white border-0 d-inline" type="primary">
                                    - {{institution.name}}
                                </ngb-alert>
                            </h4>
                        </div>
                        <div class="col-md-4">
                            <div class="search">
                                <input type="text" class="form-control" placeholder="Pesquisar..." name="search"
                                    [(ngModel)]="searchModel" (ngModelChange)="search()" />
                                <i class="fe-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-centered table-bordered mb-0">
                            <thead class="thead-light">
                                <tr>
                                    <th>Nome do Curso</th>
                                    <th>Nome da Instituição de Ensino</th>
                                    <th class="text-center">Termos</th>
                                    <th>Períodos</th>
                                    <th class="text-right" style="width: 125px;">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="loading">
                                    <td colspan="5" class="text-center">
                                        <div class="preloader">
                                            <div class="status">
                                                <div class="spinner-border avatar-sm text-primary m-2" role="status">
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr *ngIf="list.length==0">
                                    <td colspan="5" class="text-center">
                                        <h5>Não existe cursos!</h5>
                                    </td>
                                </tr>

                                <tr *ngFor="let item of list">
                                    <td>
                                        {{ item.courseName }}
                                    </td>
                                    <td>
                                        {{ item.institutionName }}
                                    </td>
                                    <td class="text-center">
                                        {{ item.qtyTerms }}
                                    </td>
                                    <td>
                                        {{ item.periods }}
                                    </td>

                                    <td class="text-right">
                                        <button (click)="edit(item)" class="btn action-icon" ngbTooltip="Editar">
                                            <i class="fe-edit"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>


                        </table>
                    </div>

                    <div *ngIf="!loading && page" class="row pt-2">
                        <div class="col-md-4">
                            <button type="button" (click)="edit()" class="btn btn-primary">
                                <i class="mdi mdi-plus mr-1"></i> Criar Curso
                            </button>
                        </div>
                        <div class="col-md-8">
                            <div class="d-flex align-items-center justify-content-end">
                                <p class="mr-2">
                                    Exibindo {{ pageSize * (page - 1) }} -
                                    {{ pageSize * page > list.length ? list.length : pageSize * page }} de {{
                                            list.length }}
                                </p>
                                <ngb-pagination (pageChange)="changeIndex($event)" [(page)]="page" [pageSize]="pageSize"
                                    [collectionSize]="list.length" [maxSize]="5">
                                </ngb-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>