.institution-course-manager {
    .checkbox label {
        display: inline-block !important;
        padding-left: 8px !important;
        position: relative !important;
        font-weight: normal !important;
        margin-bottom: 0 !important;
        line-height: 1.5  !important;
    }
}
