<div class="container-fluid p-2 m-2">
  <app-page-title title="Criador de crud"></app-page-title>

  <div class="card-box">
    <div class="row">
      <div class="col-12">
        <ngb-alert type="danger" *ngIf="error" (close)="error = ''">{{error}}</ngb-alert>
      </div>
    </div>
    <form class="needs-validation" [formGroup]="formGroup" (ngSubmit)="onSubmit()" novalidate>
      <div class="row">


        <div class="col-md-6 mb-2">
          <input-form label='Objeto' type="textarea" rows="7" name='object' [submitted]='submitted'
            [formGroup]="formGroup">
          </input-form>
        </div>

        <div class="col-md-6 mb-2">

          <div class="row mb-2">
            <div class="col-md-12 mb-2">
              <input-form label='Nome da classe' name='nameClass' [submitted]='submitted' [formGroup]="formGroup">
              </input-form>
            </div>
            <div class="col-md-4 mb-2">
              <input-form label='Nome da pasta' (onfocusout)="getNames()" name='folder' [submitted]='submitted'
                [formGroup]="formGroup">
              </input-form>
            </div>
            <div class="col-md-4 mb-2">
              <input-form label='Criação/Edição' name='nameCreate' [submitted]='submitted'
                [formGroup]="formGroup">
              </input-form>
            </div>
            <div class="col-md-4 mb-2">
              <input-form label='Listagem' name='nameList' [submitted]='submitted'
                [formGroup]="formGroup">
              </input-form>
            </div>
           
          </div>


          <div class="row">

            <div class="col-12">
              <div class="text-right mb-3">
                <a href="javascript:history.back()" class="btn w-sm btn-light rounded-pill waves-effect mr-1">Limpar</a>
                <button type="submit" class="btn btn-primary block rounded-pill waves-effect waves-ligh"
                  [disabled]="submitting">
                  <span class="spinner-grow spinner-grow-sm mr-1" *ngIf="submitting"></span>
                  Gerar
                </button>
              </div>
            </div>
          </div>

        </div>


        <div class="col-md-6">

        </div>
      </div>
    </form>


    <div class="card-box">
      <!-- <h4 class="header-title mb-4">Default Tabs</h4> -->
      <ngb-tabset>
        <ngb-tab title="Atributos">
          <ng-template ngbTabContent>
              <app-crud-list [list]="listAll" [listCreate]="listCreate" [listList]="listList" [submitting]="submitting" ></app-crud-list>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Criação/Edição">
          <ng-template ngbTabContent>
            <app-crud-list [list]="listCreate" [listCreate]="listCreate" [listList]="listList"  [submitting]="submitting"></app-crud-list>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Lista">
          <ng-template ngbTabContent>
            <app-crud-list [list]="listList" [listCreate]="listCreate" [listList]="listList"  [submitting]="submitting"></app-crud-list>

          </ng-template>
        </ngb-tab>
      </ngb-tabset>

    </div>

    <div class="row">
      <div class="col-12">

        <ul class="sitemap">
          <li><a href="javascript: void(0);" class="text-uppercase font-weight-bold"><i
                class="mdi mdi-adjust mr-1"></i>{{crud.folder}}</a>
            <ul>
              <li><a href="javascript: void(0);"><i class="fe-airplay mr-1"></i>{{crud.nameCreate}}-create</a>
                <ul>
                  <li><a href="javascript: void(0);">{{crud.nameCreate}}.component.html</a></li>
                  <li><a href="javascript: void(0);">{{crud.nameCreate}}.component.scss</a></li>
                  <li><a href="javascript: void(0);">{{crud.nameCreate}}.component.ts</a></li>
                </ul>
              </li>
              <li><a href="javascript: void(0);"><i class="fe-airplay mr-1"></i>{{crud.nameList}}</a>
                <ul>
                  <li><a href="javascript: void(0);">{{crud.nameList}}.component.html</a></li>
                  <li><a href="javascript: void(0);">{{crud.nameList}}.component.scss</a></li>
                  <li><a href="javascript: void(0);">{{crud.nameList}}.component.ts</a></li>
                </ul>
              </li>
              <li><a href="javascript: void(0);"><i class="fe-pocket mr-1"></i>{{crud.folder}}-routing.module.ts</a>
              </li>
              <li><a href="javascript: void(0);"><i class="fe-sidebar mr-1"></i>{{crud.folder}}.module.ts</a></li>
            </ul>
          </li>
        </ul>

        <!-- <h5>
          {{name}}s/{{name}}-create/{{name}}-create.component.html<br>
          {{name}}s/{{name}}-create/{{name}}-create.component.scss<br>
          {{name}}s/{{name}}-create/{{name}}-create.component.ts<br><br>
          {{name}}s/{{name}}-list/{{name}}-create.component.html<br>
          {{name}}s/{{name}}-list/{{name}}-create.component.scss<br>
          {{name}}s/{{name}}-list/{{name}}-create.component.ts<br><br>
          {{name}}s/{{name}}s-routing.module.ts<br>
          {{name}}s/{{name}}s.module.ts<br>
        </h5> -->
      </div>
    </div>

    <div class="row">

      <div class="col-12">
        <div class="text-right my-3">
          <a href="javascript:history.back()" class="btn w-sm btn-light rounded-pill waves-effect mr-1">Limpar</a>
          <button type="submit" class="btn btn-primary block rounded-pill waves-effect waves-ligh"
            [disabled]="submitting">
            <span class="spinner-grow spinner-grow-sm mr-1" *ngIf="submitting"></span>
            Baixar
          </button>
        </div>
      </div>
    </div>

  </div>
</div>