<div *ngIf="item" class="card card-body app-student-list-item">
  <!-- <h4 class="card-title">Special title treatment</h4> -->
  <div class="row">
    <div class="iconStatus ">
      <i *ngIf="studentStatus.Pending == item.status" class="mdi mdi-timetable text-warning"></i>
      <i *ngIf="studentStatus.Approved == item.status" class="fe-check text-success"></i>
      <i *ngIf="studentStatus.Rejected == item.status" class="mdi mdi-close text-danger"></i>
      <i *ngIf="studentStatus.Expired == item.status" class="mdi mdi-close text-danger"></i>
    </div>
    <div class="col-12">
      <div class="d-flex">
        <button (click)="editItem()" class="btn btn-icon btn-sm btn-outline-warning"><i class="fe-edit"></i></button>
        <h5 class="text-primary">{{item.name}}</h5>
      </div>
    </div>
    <div class="col-md-8">

      <div class="card-info">
        <img alt="logo" class="avatar-xl rounded-circle mb-3 mr-2"
          src="{{item.photoURL||'assets/images/companies/apple.png'}}" />

        <div *ngIf="showButtons" class="card-info">
          <div>
            <span class="info">Data de Nascimento: {{item.birthDate | date:'dd/MM/yyyy'}}</span><br />
            <span class="info">RG: {{item.rg}}</span><br />
            <span class="info">CPF: {{item.cpf | mask:'000.000.00-00'}}</span><br />
            <span class="info">Instituição: {{item.institutionName}}</span><br />
            <span class="info">Curso: {{item.courseName}}</span><br />
            <span class="info">Série/Termo: {{item.currentTerm}}</span><br />
            <span class="info">Código da carteirinha: {{item.cardCode}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <!-- <div class="col-md-6"> -->
      <div class="card-info">
        <div *ngIf="!showButtons">
          <span class="info">Data de Nascimento: {{item.birthDate | date:'dd/MM/yyyy'}}</span><br />
          <span class="info">RG: {{item.rg}}</span><br />
          <span class="info">CPF: {{item.cpf | mask:'000.000.00-00'}}</span><br />
          <span class="info">Instituição: {{item.institutionName}}</span><br />
          <span class="info">Curso: {{item.courseName}}</span><br />
          <span class="info">Série/Termo: {{item.currentTerm}}</span><br />
          <span class="info">Código da carteirinha: {{item.cardCode}}</span>
        </div>

        <div *ngIf="showButtons">
          <span class="info">Período: {{item.period}}</span><br />
          <span class="info">Endereço: {{item.neighborhood}}</span><br />
          <span class="info">Cidade: {{item.city}}</span><br />
          <span class="info">CEP: {{item.cep}}</span><br />
          <span class="info">Estado: {{item.stateUF}}</span><br />
          <span class="info">Celular(WhatsApp): </span><br />
        </div>
      </div>
      <!-- </div> -->
    </div>

    <!-- <div *ngIf="showButtons" class="col-md-12 mt-2">
      <div class="row">
        <div class="col-md-6">
          <button type="button" class="btn btn-danger btn-rounded">
            Negar Cadastro <i class="fe-x"></i>
          </button>
        </div>
        <div class="col-md-6 text-right">
          <button type="button" class="btn btn-light btn-rounded">
            Aprovar Cadastro <i class="fe-check"></i>
          </button>
        </div>
      </div>
    </div> -->

    <div [class.expandableShow]="showButtons" class="expandable col-md-12 mt-2">
      <div class="row">
        <div class="col-md-4">
          <button *ngIf="item.status == studentStatus.Pending || item.status == studentStatus.Approved"
            (click)="rejected()" type="button" class="btn btn-danger btn-rounded">
            <span class="spinner-grow spinner-grow-sm mr-1" *ngIf="loadRejected"></span>
            Negar Cadastro <i class="fe-x"></i>
          </button>

          <button *ngIf="item.status == studentStatus.Expired || item.status == studentStatus.Rejected" type="button"
            class="btn btn-light btn-rounded">
            Negar Cadastro <i class="fe-x"></i>
          </button>
        </div>
        <div class="col-md-4 text-center">
          <button *ngIf="item.status == studentStatus.Pending || item.status == studentStatus.Approved" type="button"
            (click)="editItem()" class="btn btn-warning  btn-rounded">
            Editar Cadastro <i class="fe-x"></i>
          </button>
        </div>
        <div class="col-md-4 text-right">
          <button *ngIf="item.status == studentStatus.Pending" (click)="aprroved()" [disabled]="loadApproved"
            type="button" class="btn btn-success btn-rounded">
            <span class="spinner-grow spinner-grow-sm mr-1" *ngIf="loadApproved"></span>
            Aprovar Cadastro <i class="fe-check"></i>
          </button>
          <button *ngIf="item.status != studentStatus.Pending" (click)="showMensagem=true" type="button"
            class="btn btn-light btn-rounded">
            Aprovar Cadastro <i class="fe-check"></i>
          </button><br>
          <span *ngIf="showMensagem && item.status == studentStatus.Approved" class="text-success mr-2"><b>Cadastro já
              aprovado!</b></span>
          <span *ngIf="showMensagem && item.status == studentStatus.Rejected" class="text-danger mr-2"><b>Cadastro já
              negado!</b></span>

        </div>
      </div>
    </div>
    <div class="iconOpen">
      <button *ngIf="!showButtons" (click)="showButtons = true" class="btn btn-light">
        <i class="fe-chevron-down"></i>
      </button>
      <button *ngIf="showButtons" (click)="showButtons = false" class="btn btn-light">
        <i class="fe-chevron-up"></i>
      </button>
    </div>


  </div>
</div>