.app-student-list-item {
  padding: 1.5rem 1.5rem 0 1.5rem;
  background: #e6e6e6 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #15141a99;
  .card-info {
    display: flex;
  }
  .iconStatus {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 30px;
  }
  .iconOpen {
    position: absolute;
    bottom: 0px;
    margin-left: 50%;
    transform: translateX(-50%);
    .btn {
      font-size: 30px;
      border-color: transparent;
      background-color: transparent;
    }
  }
  .info {
    text-align: left;
    // font: normal normal normal 18px/22px Roboto;
    letter-spacing: 0px;
    color: #707070;
  }
  .expandable {
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    height: 0;
  }

  .expandableShow {
    height: 95px;
  }

  @media only screen and (max-width: 600px) {
    button {
      margin-top: 8px;
      width: 100%;
    }
    .expandableShow {
      height: 170px;
    }
  }
}
