<div class="row">
    <div class="table-responsive">
      <table class="table table-centered table-bordered mb-0">
        <thead class="thead-light">
          <tr>
            <th>Order</th>
            <th>Atributo</th>
            <th>Tipo</th>
            <th>Mostra Lista</th>
            <th>Mostra Criação/Edição</th>
            <th class="text-right" style="width: 125px;">Ações</th>
          </tr>
        </thead>
        <tbody cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
          <tr *ngIf="submitting">
            <td colspan="6" class="text-center">
              <div class="preloader">
                <div class="status">
                  <div class="spinner-border avatar-sm text-primary m-2" role="status">
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr *ngIf="list.length==0">
            <td colspan="6" class="text-center">
              <h5>Não existe atributos!</h5>
            </td>
          </tr>
          <!-- 
              <tr [dndType]="'item'" (dndMoved)="reorderList(item, listAll)" [dndDraggable] [dndObject]="item"
              class="cursor-pointer" *ngFor="let item of listAll;let i = index"> -->

          <tr cdkDrag class="cursor-pointer" *ngFor="let item of list;let i = index">

            <td>
              {{i+1 }}
            </td>
            <td>
              {{ item.name }}
            </td>
            <td>

              <div class="form-group mx-sm-3">
                <select [(ngModel)]="item.type" class="custom-select" id="status-select">
                  <option value="string">String</option>
                  <option value="date">Data</option>
                  <option value="select">Select</option>
                  <option value="number">Number</option>
                  <option value="email">Email</option>
                  <option value="cpf">CPF</option>
                  <option value="cnpj">CNPJ</option>
                  <option value="tel">Tel</option>
                  <option value="mask">Mascara</option>
                </select>
              </div>
              <div *ngIf="item.type=='mask'" class="form-group mx-sm-3">
                <label for="status-select" class="mr-2"></label>
                <input type="text" placeholder="000.000.00-00" class="form-control">

              </div>
            </td>
            <td>
              <label>
                <input type="checkbox" name="sw1{{i}}" id="sw1{{i}}" (ngModelChange)="addList(item)" [(ngModel)]="item.showList">
                {{item.showList?'Sim':'Não'}}
              </label>
            </td>
            <td>
              <label>
                <input type="checkbox" name="sw2{{i}}" id="sw2{{i}}" (ngModelChange)="addCreate(item)" [(ngModel)]="item.showCreate">
                {{item.showCreate?'Sim':'Não'}}
              </label>
            </td>


            <td class="text-right">
              <button (click)="removeItem(i)" class="btn text-danger action-icon" ngbTooltip="Remover">
                <i class="fe-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>

      </table>
    </div>

  </div>