<div>
  <div class="modal-header">
    <h4 class="modal-title text-rpimary" id="modal-basic-title">Edição de estudante</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <ngb-alert type="danger" *ngIf="error" (close)="error = ''">{{error}}</ngb-alert>
      </div>
    </div>

    <div class="row" *ngIf="!loading">
      <div class="col text-center">
        <div class="status">
          <div class="spinner-border avatar-sm text-primary m-2" role="status"></div>
        </div>
      </div>
    </div>

    <form class="needs-validation" [formGroup]="formGroup" (ngSubmit)="onSubmit()" novalidate *ngIf="data">
      <div class="row">
        <div class="col-md-12 ">
          <div class="card-box mb-0">
            <!-- <h5 class="text-uppercase bg-light p-2 mt-0 mb-2">Dados</h5> -->
            <div class="row">

              <div class="col-md-4 mb-2">
                <input-form label='Nome' name='name' [submitted]='submitted' [formGroup]="formGroup">
                </input-form>
              </div>

              <div class="col-md-4 mb-2">
                <input-form label='Data Nascimento' dateFormat="Y/m/d" type="date" name='birthDate'
                  [submitted]='submitted' [formGroup]="formGroup">
                </input-form>
              </div>

              <div class="col-md-4 mb-2">
                <input-form label='RG' type="text" name='rg' [submitted]='submitted' [formGroup]="formGroup">
                </input-form>
              </div>

              <div class="col-md-4 mb-2">
                <input-form label='CPF' name='cpf' mask="000.000.000-00" [submitted]='submitted'
                  [formGroup]="formGroup">
                </input-form>
              </div>
              <div class="col-md-4 mb-2">
                <input-form label='Telefone' mask="(00) 0000-0000||(00) 00000-0000" name='phone' [submitted]='submitted'
                  [formGroup]="formGroup">
                </input-form>
              </div>

              <div class="col-md-4 mb-2">
                <input-form label='Termo' name='currentTerm' [submitted]='submitted' [formGroup]="formGroup">
                </input-form>
              </div>

              <div class="col-md-4 mb-2">
                <input-form label='Período' name='periodId' [submitted]='submitted' [formGroup]="formGroup">
                </input-form>
              </div>

              <div class="col-md-4 mb-2">
                <input-form label='Código da carterinha' name='cardCode' [submitted]='submitted'
                  [formGroup]="formGroup">
                </input-form>
              </div>

              <div class="col-md-4 mb-2">
                <input-form label='CEP' mask="00000-000" (onfocusout)="getCEP()" name='cep' [submitted]='submitted'
                  [formGroup]="formGroup">
                </input-form>
                <span class="spinner-grow spinner-grow-sm spinner-searching mr-1" *ngIf="searching"></span>

              </div>
              <div class="col-md-4 mb-2">
                <input-form label='Logradouro' name='address' [submitted]='submitted' [formGroup]="formGroup">
                </input-form>
              </div>
              <div class="col-md-4 mb-2">
                <input-form label='Bairro' name='neighborhood' [submitted]='submitted' [formGroup]="formGroup">
                </input-form>
              </div>
              <div class="col-md-2 mb-2">
                <input-form label='Cidade' name='city' [submitted]='submitted' [formGroup]="formGroup">
                </input-form>
              </div>
              <div class="col-md-2 mb-2">
                <input-form label='UF' name='stateUF' [submitted]='submitted' [formGroup]="formGroup">
                </input-form>
              </div>

            </div>
          </div>
        </div>
      </div>


    </form>
  </div>
  <div class="modal-footer">

    <div class="row">
      <div class="col-12">
        <div class="text-right mb-2">
          <button (click)="close()" class="btn w-sm btn-light waves-effect mr-2">Voltar</button>
          <button type="button" (click)="onSubmit()" class="btn btn-blue block waves-effect waves-ligh"
            [disabled]="submitting">
            <span class="spinner-grow spinner-grow-sm mr-1" *ngIf="submitting"></span>
            Salvar
          </button>
        </div>
      </div>
    </div>

    <!-- <button type="button" class="btn btn-outline-dark" (click)="close()">Save</button> -->
  </div>
</div>